




body{
	background-color:#35654d ;
	margin:auto;
    width:95%;

    color:white;
    font-family: 'Crete Round';


}

.main{
    margin:auto;
    width:95%;
   
}

.dealerCards{
    margin:auto;
    width:95%;
  
}

.playerCards{
    margin:auto;
    width:95%;

}


.buttons{
    margin:auto;
    width:95%;
  
}

.button {
   
        position: relative;
   
        background-color:white;

        background-size: cover; 
        background-position: center; 
        color: BLACK;
        border:none; 
        /* border-radius:10px;  */
        padding:10px;
        min-height:10px; 
        min-width: 10px;
        margin: 20px;
        /* box-shadow: 0px 0px 2px 2px rgb(0,0,0); */
        width: 100px;
        height: 100px;
        font-family: 'Crete Round';
        border: 2px solid black;
    
  }

  .button:hover{
    color: red;
    background-color: #35654d;
  }


.data{
    font-family: 'Crete Round';
    font-size: 25px;
    
}

#betLabel{
    margin-left:250px;
}

#dealerScore{
    margin-left: 100px;
    font-size: 25px;
}


#playerScore{
    margin-left: 100px;
    font-size: 25px;
}

/* .image{
    visibility: hidden;
} */


  